:root {
  --black-text: #333333;
  --gray-text: #2a2a2a;
  --red: #e04f67;
  --green-dark: #008489;
  --green-light: #c5fffc;
  --footer: #222222;
  --yellow-light: #fdf7ac;
  --gray-light: #7b7b7b;
  --gray-dark: #434343;
  --bg-gray-light: #f9f9f9;
  --white: #ffffff;
  --pink: #e14d67;
  --border: #f0f0f0;
  --sider: #1c2c3f;
  --bg-admin: #e9ecef;
  --yellow: #fadb14;
}

.ant-layout .ant-layout-sider {
  background: var(--sider) !important;
}

:where(.css-dev-only-do-not-override-3rel02).ant-menu-dark,
:where(.css-dev-only-do-not-override-3rel02).ant-menu-dark > .ant-menu {
  color: var(--white) !important;
  background: var(--sider) !important;
}

:where(.css-dev-only-do-not-override-3rel02).ant-menu-dark
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-3rel02).ant-menu-dark
  > .ant-menu
  .ant-menu-item-selected {
  background-color: var(--pink) !important;
}

:where(.css-dev-only-do-not-override-3rel02).ant-menu-light,
:where(.css-dev-only-do-not-override-3rel02).ant-menu-light > .ant-menu {
  color: var(--white) !important;
  background-color: var(--sider) !important;
}

:where(.css-dev-only-do-not-override-3rel02).ant-typography ul,
:where(.css-dev-only-do-not-override-3rel02).ant-typography ol {
  margin-block: 0 !important;
}

:where(.css-dev-only-do-not-override-3rel02).ant-rate
  .ant-rate-star:not(:last-child) {
  margin-inline-end: 0 !important;
}

.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-3rel02).ant-menu-dark
  > .ant-menu.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  background: var(--sider) !important;
}

:where(.css-dev-only-do-not-override-3rel02).ant-layout {
  font-family: "Montserrat", sans-serif !important;
}

.loader {
  color: var(--pink);
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .ant-card .ant-card-cover img,
:where(.css-dev-only-do-not-override-3rel02).ant-card
  .ant-card-cover
  img
  + .ant-image-mask {
  border-radius: 0 !important;
} */

.ant-card .ant-card-body {
  padding: 14px !important;
}

:where(.css-dev-only-do-not-override-3rel02).ant-tag {
  margin-inline-end: 0 !important;
}
