:root {
  --black-text: #333333;
  --gray-text: #2a2a2a;
  --red: #e04f67;
  --green-dark: #008489;
  --footer: #222222;
  --yellow-light: #fdf7ac;
  --gray-light: #7b7b7b;
  --gray-dark: #434343;
  --bg-gray-light: #f9f9f9;
  --white: #ffffff;
  --pink: #e14d67;
  --blue-light: #33ccff;
  --border: #f0f0f0;
  --orange: #f90;
  --gray-mid: #565a5c;
}

.ant-menu-horizontal {
  border-bottom: 0px !important;
}

.ant-select-selector {
  border: 1px solid var(--border) !important;
  /* background: var(--gray-dark) !important; */
}

.ant-select-single .ant-select-selector {
  /* color: var(--gray-light) !important; */
  font-size: 14px;
  border-radius: 2px !important;
}

.ant-select {
  font-family: "Montserrat", sans-serif !important;
}

.ant-select-single .ant-select-selector {
  font-family: "Montserrat", sans-serif !important;
  color: var(--gray-light) !important;
}

.ant-col {
  font-family: "Montserrat", sans-serif !important;
}

.ant-input {
  padding: 5px 7px !important;
  color: var(--black-text);
  font-size: 13px !important;
  font-family: "Montserrat", sans-serif !important;
  border-radius: 3px !important;
}

.hover-zoom:hover {
  transform: scale(0.98);
}

.ant-card .ant-card-body {
  padding: 0 !important;
  border-radius: 5px !important;
}

.hover-button.ant-btn:hover {
  background-color: var(--black-text) !important;
  border-color: var(--black-text) !important;
  color: white !important;
}

.image-hover-zoom:hover {
  transform: scale(1.1);
}

.loader {
  color: var(--pink);
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 10px !important;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-breadcrumb {
  font-family: "Montserrat", sans-serif !important;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-typography {
  font-family: "Montserrat", sans-serif !important;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-table-wrapper .ant-table {
  font-family: "Montserrat", sans-serif !important;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-zg0ahe).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  background: #ffffff;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-slider {
  font-family: "Montserrat", sans-serif !important;
}

.ant-slider .ant-slider-rail {
  background-color: var(--bg-gray-light) !important;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-slider .ant-slider-track {
  background-color: var(--pink) !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: var(--white) !important;
}

.ant-pagination .ant-pagination-item-active {
  background-color: var(--green-dark);
  border-color: var(--green-dark);
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-selected::after,
:where(.css-dev-only-do-not-override-zg0ahe).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected::after {
  border-bottom-width: 0px !important;
  border-bottom-color: none !important;
}

.truncated-title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.truncated-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content img {
  max-width: 100%;
  height: auto;
}
